* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Monterrat, sans-serif;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 32px;
  right: 32px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  backdrop-filter: blur(5px);
}

.header a {
  text-decoration: none;
  color: #271e04;
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 2rem;
  padding: 0.5em 1em;
}

.menu-items li a:hover {
  text-decoration: 4px solid rgb(235, 161, 1) line-through;
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #111111;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}
